:root {
    --primary-color: #d70f64;
    --gray: rgba(128, 128, 128, 0.208);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}

.max-w-xl {
    max-width: 1300px;
    margin: 0 auto;
}

/* Navigation */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.8rem;
}

nav.active {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.12);
}

nav>.logo {
    padding: 1rem 0;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
}

nav>.logo>svg {
    margin-right: 0.3rem;
    display: none;
}

nav>svg {
    cursor: pointer;
}

nav .login-btn {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: none;
    background-color: transparent;
    border-right: 1px solid var(--gray);
    border-left: 1px solid var(--gray);
    padding: 1.4rem;
    margin-right: 1rem;
    cursor: pointer;
}

.login-btn span {
    margin-left: 0.5rem;
    font-weight: 600;
}

/* Hero section */
section.hero {
    height: 500px;
    width: 100%;
    border: 2px solid transparent;
    position: relative;
}

.hero h3 {
    font-size: 2rem;
    padding-left: 1rem;
    font-weight: 300;
    margin-top: 9rem;
    min-width: 220px;
    width: 70%;
}

.hero .bg-wrapper {
    position: absolute;
    width: 35%;
    margin-left: 65%;
    background-image: url("./images/hero-bg-xl.png");
    height: 100%;
    display: block;
    z-index: -1;
    float: right;
    max-height: 335px;
    background-size: cover;
}

.hero .actions {
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.actions .input-container {
    position: relative;
}

.actions input {
    width: 100%;
    padding: 1.5rem 1rem;
    border-radius: 8px;
    outline: none;
    border: 1px solid #dcdcdc;
    color: #333;
    font-size: 0.9rem;
    box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
}

.actions input::placeholder {
    color: darkgrey;
}

.input-container svg {
    position: absolute;
    top: 20px;
    right: 20px;
}

.actions button {
    background-color: var(--primary-color);
    margin-top: 1rem;
    color: white;
    border: none;
    padding: 0 5rem;
    height: 64px;
    width: 100%;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: 300;
    font-weight: 30;
}

/* Partners Section  */

.partners {
    margin: 4rem 0;
}

.partners .backdrop-text {
    padding: 0 2rem;
}

.partners .caption {
    padding: 0 2rem;
}

.partners .background-image {
    background-image: url("./images/partner-bg.png");
    min-height: 280px;
    background-size: cover;
    height: 100%;
}

.partners .content {
    background-color: white;
    margin: 0 1rem;
    margin-top: -4rem;
    padding: 1rem 1.2rem;
}



@media screen and (min-width:786px) {
    nav>.logo>svg {
        display: inline;
    }

    .hero h3 {
        padding-left: 3rem;
    }

    .hero .bg-wrapper {
        max-height: 950px;
    }

    .hero .actions {
        background-color: white;
        box-shadow: 0 0.3rem 2rem rgb(0 0 0 /10%);
        display: flex;
        padding: 1rem;
        margin: 0 3rem;
        margin-top: 3rem;
        max-width: 960px;
    }

    .actions input {
        box-shadow: none;
    }

    .actions .input-container {
        width: 80%;
    }

    .actions button {
        margin: 0;
        width: 15%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 1rem;
    }
}


@media screen and (min-width:960px) {
    nav>.profile-icon-medium {
        display: none;
    }

    nav .login-btn {
        display: inline-flex;
    }

    .hero .bg-wrapper {
        max-height: 400px;
    }
}

@media screen and (min-width:1264px) {
    .hero .bg-wrapper {
        max-height: 500px;
    }

    .hero h3 {
        font-size: 2.8rem;
    }
}

@media screen and (min-width:1440px) {
    .hero .bg-wrapper {
        max-height: 550px;
    }
}

.Partner_div {
    position: relative;
    height: 400px;
    width: 100%;
}

.Partner_image {
    background-image: url();
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
}